.card {
  width: 40%;
  min-height: 220px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.card .content {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px 20px 20px;
  height: auto;
}

.quote-text {
  color: #8a8686;

  .fa-quote-left {
    font-size: 35px;
  }

  .text {
    font-size: 35px;
    margin-left: 10px;
  }
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  color: #8a8686;
  margin-top: 30px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 85%;
    padding: 15px 25px;
  }

  .quote-text {
    .text {
      font-size: 24px;
    }
  }
}



