@import url(https://fonts.googleapis.com/css?family=Charm:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

*{
  padding: 0;
  margin: 0;
  font-family: 'Charm', sans-serif;
}

#wrapper{
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=4ea6ca00&noise=626262&density=52&opacity=30");
  //background: #a9a6a6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myLink{
  margin-top: 30px;

  a{
    color: #ffffff;
    font-weight: 600;
  }
}