@import url(https://fonts.googleapis.com/css?family=Charm:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

*{
  padding: 0;
  margin: 0;
  font-family: 'Charm', sans-serif;
}

#wrapper{
  background: lightgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myLink{
  margin-top: 30px;
}